@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #ededed;
}

body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: auto;
  margin: 0px auto;
  background: white;
}

.responsive__nav {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;
  background: #0000ff;
  padding: 65px 25px 30px 25px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.responsive__nav .primary__header .primary__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
.responsive__nav .primary__header .primary__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
  list-style: none;
}
.responsive__nav .primary__header .primary__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.responsive__nav .primary__header .primary__nav ul:last-of-type li:last-of-type a {
  font-size: 12px;
}
.responsive__nav .primary__subheader {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.responsive__nav .primary__subheader .subheader__1 .subheader__title, .responsive__nav .primary__subheader .subheader__2 .subheader__title {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #fff;
}
.responsive__nav .primary__subheader .subheader__1 .subheader__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  list-style: none;
}
.responsive__nav .primary__subheader .subheader__1 .subheader__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.responsive__nav .primary__subheader .subheader__1 .subheader__nav ul li.active a {
  color: #fd5948;
}
.responsive__nav .primary__subheader .subheader__2 .subheader__nav {
  padding-bottom: 20px;
  overflow: auto;
  width: auto;
}
.responsive__nav .primary__subheader .subheader__2 .subheader__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  list-style: none;
  width: 1024px;
}
.responsive__nav .primary__subheader .subheader__2 .subheader__nav ul li {
  width: 25%;
}
.responsive__nav .primary__subheader .subheader__2 .subheader__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.responsive__nav .primary__subheader .subheader__2 .subheader__nav ul li a h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.responsive__nav .primary__subheader .subheader__2 .subheader__nav ul li a p {
  font-size: 12px;
  line-height: 20px;
}
.responsive__nav.mobile__nav-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header {
  width: 100%;
  position: relative;
}
header .primary__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 35px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  background: white;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eee;
}
header .primary__header .primary__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 22px;
}
header .primary__header .primary__logo .logo {
  width: 50px;
  height: 100%;
  position: relative;
}
header .primary__header .primary__logo .logo a {
  display: block;
  position: absolute;
  z-index: 15;
}
header .primary__header .primary__logo .logo a svg {
  width: 100%;
}
header .primary__header .primary__logo .mobile__btn {
  width: 70px;
  height: 100%;
  position: relative;
  display: none;
}
header .primary__header .primary__logo .mobile__btn a {
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  z-index: 15;
  color: black;
}
header .primary__header .primary__logo .mobile__btn a span {
  margin-left: 7px;
}
header .primary__header .primary__logo.mobile__logo-active .logo a svg {
  fill: #fff;
}
header .primary__header .primary__logo.mobile__logo-active .mobile__btn a {
  color: #fff;
}
header .primary__header .primary__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .primary__header .primary__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
}
header .primary__header .primary__nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
header .primary__header .primary__nav ul:first-of-type li:last-of-type a {
  color: #fd5948;
}
header .primary__header .primary__nav ul:first-of-type li:last-of-type a span {
  margin-left: 5px;
}
header .primary__header .primary__nav ul:last-of-type li:first-of-type a {
  color: #0000ff;
}
header .primary__header .primary__nav ul:last-of-type li:last-of-type a {
  font-size: 12px;
}
header .primary__subheader {
  padding: 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  border-bottom: 2px solid #eee;
  position: absolute;
  margin-top: -100%;
  z-index: -1;
  padding-bottom: 75px;
}
header .primary__subheader .subheader__1 .subheader__title, header .primary__subheader .subheader__2 .subheader__title {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
header .primary__subheader .subheader__1 .subheader__nav ul, header .primary__subheader .subheader__2 .subheader__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
header .primary__subheader .subheader__1 .subheader__nav ul li a, header .primary__subheader .subheader__2 .subheader__nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
}
header .primary__subheader .subheader__1 .subheader__nav ul li a h3, header .primary__subheader .subheader__2 .subheader__nav ul li a h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
header .primary__subheader .subheader__1 .subheader__nav ul li a p, header .primary__subheader .subheader__2 .subheader__nav ul li a p {
  line-height: 25px;
}
header .primary__subheader .subheader__1 .subheader__nav ul li.active a, header .primary__subheader .subheader__2 .subheader__nav ul li.active a {
  color: #fd5948;
}
header .primary__subheader .subheader__2 .subheader__nav ul li {
  width: 25%;
}
header .primary__subheader.more__view {
  position: unset;
  margin-top: unset;
  z-index: unset;
}
header .secondary__header {
  padding: 20px 35px;
}
header .secondary__header .secondary__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
}
header .secondary__header .secondary__nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}
header .secondary__header .secondary__nav ul li.active a {
  color: #fd5948;
}

main {
  width: 100%;
  position: relative;
  padding-bottom: 150px;
  border-bottom: 2px solid #eee;
}
main section {
  width: 100%;
  height: auto;
  position: relative;
}
main section .section__1-inner {
  width: 90%;
  position: relative;
  margin: 0px auto;
}
main section .section__1-inner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .section__1-inner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fd5948;
}
main section .section__2-inner {
  width: 75%;
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  margin: 0px auto;
}
main section .section__2-inner h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
main section .section__2-inner h4 a {
  color: #0000ff;
  text-decoration: none;
}
main section .section__2-inner p {
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}
main section .section__3-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main section .section__3-inner .inner__1 {
  width: 40%;
  position: relative;
}
main section .section__3-inner .inner__1 img {
  width: 100%;
  position: absolute;
  top: 50%;
  right: -20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
main section .section__3-inner .inner__2 {
  width: 60%;
  background: #fbffa7;
  padding: 200px 100px 200px 250px;
  position: relative;
}
main section .section__3-inner .inner__2 img {
  width: 90%;
}
main section .section__4-inner {
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  width: 75%;
  margin: 0px auto;
}
main section .section__4-inner h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
main section .section__4-inner p {
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}
main section .section__4-inner .section__4-img {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin: 50px 0px;
}
main section .section__4-inner .section__4-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .section__4-inner .section__4-img .section__4-img-caption {
  font-size: 14px;
  font-weight: 400;
}
main section .section__4-inner .section__4-img::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCA1MCA1MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxjaXJjbGUgZmlsbD0iIzAwMzNGRiIgY3g9IjI1IiBjeT0iMjUiIHI9IjI1Ii8+PHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIzNSwyNSAyNywyOS41IDE5LDM0IDE5LDI1IDE5LDE2IDI3LDIwLjUgIi8+PC9nPjwvc3ZnPg==");
  height: 75px;
  width: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  pointer-events: none;
  cursor: pointer;
}
main section .section__5-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main section .section__5-inner .inner__1 {
  width: 60%;
  background: #b6ffc0;
  padding: 100px 75px 100px 175px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 90px;
}
main section .section__5-inner .inner__1 img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .section__5-inner .inner__2 {
  width: 40%;
  position: relative;
}
main section .section__5-inner .inner__2 img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: -20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .section__6-inner {
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0px auto;
}
main section .section__6-inner h4 {
  width: 75%;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
main section .section__6-inner p {
  width: 75%;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}
main section .section__6-inner .section__6-img {
  width: 100%;
  margin: 50px 0px;
}
main section .section__6-inner .section__6-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .section__7-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
main section .section__7-inner .inner__1 {
  width: 50%;
  z-index: 1;
  text-align: center;
}
main section .section__7-inner .inner__1 img {
  width: 60%;
}
main section .section__7-inner .inner__2 {
  width: 50%;
  padding: 100px 0px 100px 100px;
  z-index: 1;
}
main section .section__7-inner .inner__2 img {
  width: 90%;
}
main section .section__7-inner::before {
  content: "";
  width: 65%;
  height: 100%;
  background: #d5b3ff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main section .section__8-inner {
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  width: 75%;
  margin: 0px auto;
}
main section .section__8-inner h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
main section .section__8-inner p {
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}
main section .section__9-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0px auto;
}
main section .section__9-inner .inner__1 {
  width: 50%;
  position: relative;
}
main section .section__9-inner .inner__1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .section__9-inner .inner__2 {
  width: 50%;
  background: #b1c5ff;
  padding: 200px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
main section .section__9-inner .inner__2 p {
  font-size: 22px;
  line-height: 30px;
}
main section .section__9-inner .inner__2 p:last-child {
  color: #0000ff;
}

footer {
  width: 100%;
  height: 80vh;
  padding: 50px 100px 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
footer .footer__header {
  width: 100%;
  height: 15%;
}
footer .footer__header .footer__logo {
  width: 10%;
}
footer .footer__header .footer__logo img {
  width: 100%;
}
footer .footer__body {
  width: 100%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
footer .footer__body .body__inner-1, footer .footer__body .body__inner-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
footer .footer__body .body__inner-1 div:first-of-type, footer .footer__body .body__inner-2 div:first-of-type {
  width: 30%;
}
footer .footer__body .body__inner-1 div:nth-of-type(2), footer .footer__body .body__inner-2 div:nth-of-type(2) {
  width: 30%;
}
footer .footer__body .body__inner-1 div:last-of-type, footer .footer__body .body__inner-2 div:last-of-type {
  width: 40%;
}
footer .footer__body .body__inner-1 div h3, footer .footer__body .body__inner-2 div h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .footer__body .body__inner-1 div ul, footer .footer__body .body__inner-2 div ul {
  list-style: none;
}
footer .footer__body .body__inner-1 div ul li, footer .footer__body .body__inner-2 div ul li {
  margin-bottom: 8px;
  color: #000000;
  font-size: 14px;
  line-height: 22px;
}
footer .footer__body .body__inner-1 div ul li a, footer .footer__body .body__inner-2 div ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
footer .footer__body .body__inner-1 div ul li ul, footer .footer__body .body__inner-2 div ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 15px;
}
footer .footer__body .body__inner-1 div ul li ul li, footer .footer__body .body__inner-2 div ul li ul li {
  margin-bottom: 6px;
  color: #fff;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
footer .footer__body .body__inner-1 div ul li ul li a, footer .footer__body .body__inner-2 div ul li ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__body .body__inner-1 div ul li ul li a span, footer .footer__body .body__inner-2 div ul li ul li a span {
  color: #fff;
  font-size: 18px;
}
footer .footer__body .body__inner-1 div ul li ul li:first-child, footer .footer__body .body__inner-2 div ul li ul li:first-child {
  background: #3477f2;
}
footer .footer__body .body__inner-1 div ul li ul li:nth-child(2), footer .footer__body .body__inner-2 div ul li ul li:nth-child(2) {
  background: #1da1f2;
}
footer .footer__body .body__inner-1 div ul li ul li:nth-child(3), footer .footer__body .body__inner-2 div ul li ul li:nth-child(3) {
  background: #ff001d;
}
footer .footer__body .body__inner-1 div ul li ul li:last-child, footer .footer__body .body__inner-2 div ul li ul li:last-child {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
footer .footer__body .body__inner-1 div ul li form, footer .footer__body .body__inner-2 div ul li form {
  width: 100%;
  margin-top: 20px;
}
footer .footer__body .body__inner-1 div ul li form .form-control, footer .footer__body .body__inner-2 div ul li form .form-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer__body .body__inner-1 div ul li form .form-control input, footer .footer__body .body__inner-2 div ul li form .form-control input {
  width: 70%;
  padding: 10px 15px;
  border-radius: 0px;
  border: 0;
  background: #ededed;
}
footer .footer__body .body__inner-1 div ul li form .form-control input:focus, footer .footer__body .body__inner-2 div ul li form .form-control input:focus {
  border-radius: 0px;
  outline: none;
}
footer .footer__body .body__inner-1 div ul li form .form-control button, footer .footer__body .body__inner-2 div ul li form .form-control button {
  width: 30%;
  padding: 10px;
  border: 0;
  border-radius: 0px;
  background: #0000ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
footer .footer__body .body__inner-1 div ul li form .form-control select, footer .footer__body .body__inner-2 div ul li form .form-control select {
  background: #ededed;
  padding: 7px;
  border: 0;
  cursor: pointer;
}
footer .footer__body .body__inner-1 div ul li form .form-control select:first-child, footer .footer__body .body__inner-2 div ul li form .form-control select:first-child {
  width: 30%;
}
footer .footer__body .body__inner-1 div ul li form .form-control select:last-child, footer .footer__body .body__inner-2 div ul li form .form-control select:last-child {
  margin-left: 5px;
  width: 50%;
}
footer .footer__footer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__footer ul li {
  font-size: 12px;
}
footer .footer__footer ul li a {
  text-decoration: none;
  color: #000000;
}
footer .footer__footer ul li img {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  body {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body {
    width: 100%;
  }

  header .primary__header .primary__logo {
    margin-left: -10px;
  }
  header .primary__header .primary__logo .mobile__btn {
    display: block;
  }
  header .primary__header .primary__nav {
    display: none;
  }
  header .primary__subheader {
    display: none;
  }

  main {
    padding-bottom: 50px;
  }
  main section .section__1-inner {
    width: 85%;
    height: calc(100vh - 100px);
  }
  main section .section__1-inner img {
    height: 100%;
  }
  main section .section__2-inner {
    width: 75%;
    padding: 50px 15px;
  }
  main section .section__3-inner .inner__1 img {
    width: 85%;
  }
  main section .section__3-inner .inner__2 {
    padding: 100px 20px 100px 150px;
  }
  main section .section__3-inner .inner__2 img {
    width: 85%;
  }
  main section .section__4-inner {
    width: 75%;
    padding: 50px 15px;
  }
  main section .section__4-inner .section__4-img {
    margin: 50px 0px;
  }
  main section .section__5-inner .inner__1 {
    padding: 50px 70px 50px 45px;
    row-gap: 50px;
  }
  main section .section__5-inner .inner__1 img {
    width: 85%;
  }
  main section .section__5-inner .inner__2 {
    width: 40%;
  }
  main section .section__5-inner .inner__2 img {
    width: 85%;
  }
  main section .section__6-inner {
    padding: 50px 15px;
    width: 85%;
  }
  main section .section__6-inner h4 {
    width: 80%;
  }
  main section .section__6-inner p {
    width: 80%;
  }
  main section .section__6-inner .section__6-img {
    margin: 50px 0px;
  }
  main section .section__7-inner .inner__1 img {
    width: 70%;
  }
  main section .section__7-inner .inner__2 {
    padding: 50px 0px 50px 50px;
  }
  main section .section__7-inner .inner__2 img {
    width: 100%;
  }
  main section .section__7-inner::before {
    width: 70%;
  }
  main section .section__8-inner {
    padding: 50px 15px;
    width: 75%;
  }
  main section .section__9-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  main section .section__9-inner .inner__1 {
    width: 100%;
  }
  main section .section__9-inner .inner__2 {
    width: 100%;
    padding: 70px 50px;
  }
  main section .section__9-inner .inner__2 p {
    font-size: 20px;
  }

  footer {
    height: auto;
    padding: 50px 70px;
  }
  footer .footer__header {
    height: auto;
    margin-bottom: 10px;
  }
  footer .footer__header .footer__logo {
    width: 20%;
  }
  footer .footer__body {
    height: auto;
    row-gap: 20px;
  }
  footer .footer__body .body__inner-1, footer .footer__body .body__inner-2 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  footer .footer__body .body__inner-1 div:first-of-type, footer .footer__body .body__inner-2 div:first-of-type {
    width: 100%;
  }
  footer .footer__body .body__inner-1 div:nth-of-type(2), footer .footer__body .body__inner-2 div:nth-of-type(2) {
    width: 100%;
  }
  footer .footer__body .body__inner-1 div:last-of-type, footer .footer__body .body__inner-2 div:last-of-type {
    width: 100%;
  }
  footer .footer__body .body__inner-1 div h3, footer .footer__body .body__inner-2 div h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  footer .footer__body .body__inner-1 div ul li, footer .footer__body .body__inner-2 div ul li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 6px;
  }
  footer .footer__body .body__inner-1 div ul li a, footer .footer__body .body__inner-2 div ul li a {
    font-size: 12px;
  }
  footer .footer__body .body__inner-1 div:last-of-type {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  footer .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    row-gap: 40px;
  }
  footer .footer__footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer__footer ul:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding-bottom: 60px;
  }
  main section .section__2-inner {
    width: 89%;
  }
  main section .section__3-inner .inner__1 img {
    width: 90%;
  }
  main section .section__3-inner .inner__2 {
    padding: 100px 20px 100px 150px;
  }
  main section .section__3-inner .inner__2 img {
    width: 85%;
  }
  main section .section__4-inner {
    width: 89%;
  }
  main section .section__5-inner .inner__1 {
    padding: 70px 90px 70px 60px;
    row-gap: 50px;
  }
  main section .section__5-inner .inner__1 img {
    width: 85%;
  }
  main section .section__5-inner .inner__2 {
    width: 40%;
  }
  main section .section__5-inner .inner__2 img {
    width: 90%;
  }
  main section .section__6-inner {
    width: 89%;
  }
  main section .section__6-inner h4 {
    width: 100%;
  }
  main section .section__6-inner p {
    width: 100%;
  }
  main section .section__7-inner .inner__1 img {
    width: 70%;
  }
  main section .section__7-inner .inner__2 {
    padding: 70px 0px 70px 50px;
  }
  main section .section__7-inner .inner__2 img {
    width: 100%;
  }
  main section .section__7-inner::before {
    width: 70%;
  }
  main section .section__8-inner {
    width: 89%;
  }
  main section .section__9-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  main section .section__9-inner .inner__1 {
    width: 100%;
  }
  main section .section__9-inner .inner__2 {
    width: 100%;
    padding: 70px 50px;
  }
  main section .section__9-inner .inner__2 p {
    font-size: 20px;
  }

  footer {
    padding: 50px 35px;
  }
}
@media screen and (max-width: 425px) {
  main {
    padding-bottom: 60px;
  }
  main section .section__1-inner h1 {
    font-size: 50px;
  }
  main section .section__2-inner {
    width: 90%;
  }
  main section .section__3-inner .inner__1 img {
    width: 100%;
  }
  main section .section__3-inner .inner__2 {
    padding: 60px 30px 60px 60px;
  }
  main section .section__3-inner .inner__2 img {
    width: 100%;
  }
  main section .section__4-inner {
    width: 90%;
  }
  main section .section__4-inner .section__4-img {
    margin: 25px 0px;
  }
  main section .section__5-inner .inner__1 {
    padding: 50px 60px 50px 30px;
    row-gap: 35px;
  }
  main section .section__5-inner .inner__1 img {
    width: 100%;
  }
  main section .section__5-inner .inner__2 {
    width: 40%;
  }
  main section .section__5-inner .inner__2 img {
    width: 100%;
  }
  main section .section__6-inner {
    width: 90%;
  }
  main section .section__6-inner .section__6-img {
    margin: 25px 0px;
  }
  main section .section__7-inner .inner__1 img {
    width: 70%;
  }
  main section .section__7-inner .inner__2 {
    padding: 30px 0px 30px 30px;
  }
  main section .section__7-inner .inner__2 img {
    width: 100%;
  }
  main section .section__8-inner {
    width: 90%;
    padding: 35px 15px;
  }
  main section .section__9-inner {
    width: 85%;
  }
  main section .section__9-inner .inner__2 {
    width: 100%;
    padding: 50px;
  }
  main section .section__9-inner .inner__2 p {
    font-size: 20px;
  }

  footer {
    padding: 35px;
  }
  footer .footer__header .footer__logo {
    width: 40%;
  }
}